@using FileMaintenance.Core.Models
@model IMaintenanceSummary

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Log maintenance</title>
    <style>
                body {
            font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            background-color: "#FFFFFF";
            margin: 0;
        }

        .disklabel {
            font-size: 48px;
            margin-left: 30px;
            padding-right: 10px;
            font-weight: bold;
            color: #444444;
        }

        .important {
            color: #DB4A39 !important;
        }

        /* HEADER */
        table.head-wrap {
            width: 100%;
            background-color: #999;
        }

        /* BODY  */
        table.body-wrap {
            width: 100%;
        }

        /* 	TYPOGRAPHY  */
        h1, h2, h3, h4, h5, h6 {
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            line-height: 1.1;
            margin-bottom: 15px;
            color: #000;
        }

            h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
                font-size: 60%;
                color: #6f6f6f;
                line-height: 0;
                text-transform: none;
            }

        h1 {
            font-weight: 200;
            font-size: 44px;
        }

        h2 {
            font-weight: 200;
            font-size: 37px;
        }

        h3 {
            font-weight: 500;
            font-size: 27px;
        }

        h4 {
            font-weight: 500;
            font-size: 23px;
        }

        h5 {
            font-weight: 900;
            font-size: 17px;
        }

        h6 {
            font-weight: 900;
            font-size: 14px;
            text-transform: uppercase;
            color: #444;
        }

        .margin0 {
            margin: 0 !important;
        }

        p, ul {
            margin-bottom: 10px;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.6;
        }

        /* 	RESPONSIVENESS  Nuke it from orbit. It's the only way to be sure. */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
            display: block !important;
            max-width: 600px !important;
            margin: 0 auto !important; /* makes it centered */
            clear: both !important;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
            padding: 15px;
            max-width: 600px;
            margin: 0 auto;
            display: block;
        }

            /* Let's make sure tables in the content area are 100% wide */
            .content table {
                width: 100%;
            }

        @@media only screen and (max-width: 600px) {
            a[class="btn"] {
                display: block !important;
                margin-bottom: 10px !important;
                background-image: none !important;
                margin-right: 0 !important;
            }

            div[class="column"] {
                width: auto !important;
                float: none !important;
            }

            table.social div[class="column"] {
                width: auto !important;
            }
        }

    </style>
</head>

<body>
    <table class="head-wrap">
        <tr>
            <td class="container">

                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <h6 class="margin0">Log maintenance</h6>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <table class="body-wrap">
        <tr>
            <td class="container">

                <div class="content">
                    <table>
                        <tr>
                            <td>
                                <p>
                                    Server name: @Model.ServerName <br />
                                    Duration: @string.Format("{0:g}", Model.Duration) <br />
                                    Time started: @string.Format("{0:F} UTC", Model.ExecutionStartTimeUtc) <br />
                                    Time ended: @string.Format("{0:F} UTC", Model.ExecutionEndTimeUtc) <br />
                                    Error count: @string.Format("{0}", Model.Errors.Count()) <br />
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="content" style="margin-top:-20px">
                    @{
                        foreach (IMaintenanceDiskSummary maintenanceDiskSummary in @Model.MaintenanceDiskSummaries)
                        {
                            <table>
                                <tr>
                                    <td width="20%">
                                        <p class="disklabel">@maintenanceDiskSummary.Name.Replace('\\', ' ')</p>
                                    </td>
                                    <td>
                                        <p>
                                            Deleted file count: @maintenanceDiskSummary.DeletedFileCount <br />
                                            Free disk space: @(string.Format("{0:f2} GB", (float)maintenanceDiskSummary.FreeDiskSpace / 1024 / 1024 / 1024)) <br />
                                            Free disk space (%): @if (maintenanceDiskSummary.FreeDiskSpace / (float)maintenanceDiskSummary.TotalDiskSize < 0.1)
                                            {
                                                @: <span class="important">@maintenanceDiskSummary.FreeDiskSpacePct</span>
                                                                 }
                                            else
                                            {
                                                @: @maintenanceDiskSummary.FreeDiskSpacePct
                                                                 }
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        }
                    }
                </div>

            </td>
        </tr>
    </table>
</body>
</html>